{% extends 'dashboard-master.html' %}

{% block body_heading %}
    Alert Details
{% endblock %}

{% block body %}
    {% load static %}
    {% comment %} {%if request.path == '/Alerts/' or request.path == '/Admin-Alerts/' or request.path == '/Ecc-Alerts/'%} {% endcomment %}
    <main class="mt-5 form-inline  p-0 m-5">

            <!-- Patient Information -->
                  <div class="col-xl-6 col-sm-6 col-6 p-5">
                    <div class="card bg-transparent border-0 mb-1 shadow-lg">
                    <div class="card-footer bg-primary col-12 rounded-top form-inline pt-3 px-0 bg-info">
                      <div class="col-xl-12 col-sm-12 col-12 pl-4 text-white h5 text-left">
                        <i class="fa fa-medkit pr-2" aria-hidden="true"></i>Patient Details
                      </div>
                    </div>
          
                    {% for x in Acdata %}                     
                    <div class="card-body border rounded-bottom p-3 form-inline text-dark">
                     {% for y in Cdata %}
                      <div class="text-left py-3">
                              <div class="pb-2 col-12 form-inline">
                                <div class="col-xl-6 col-sm-6 col-6 h5">Name</div>
                                <div class="col-xl-6 col-sm-6 col-6 h5">Blood</div>
                                <span type="text" class="col-xl-6 col-sm-6 col-6 h6 font-weight-light" disabled="disabled">{{y.Fname}}</span>
                                <div class="col-xl-6 col-sm-6 col-6 h6 font-weight-light">{{y.Blood_Group}}</div>
                              </div>
                              <div class="pb-2 col-12 form-inline">
                                <div class="col-xl-6 col-sm-6 col-6 h5">Gender</div>
                                <div class="col-xl-6 col-sm-6 col-6 h5">Age</div>
                                <div class="col-xl-6 col-sm-6 col-6 h6 font-weight-light">{{y.Gender}}</div>
                                <div class="col-xl-6 col-sm-6 col-6 h6 font-weight-light">{{y.Birthdate}}</div>
                              </div>
                              <div class="pb-2 col-12 form-inline">
                                <div class="col-xl-6 col-sm-6 col-6 h5">Contact</div>
                                <div class="col-xl-6 col-sm-6 col-6 h5">Email</div>
                                <div class="col-xl-6 col-sm-6 col-6 h6 font-weight-light">{{y.Contact}}</div>
                                <div class="col-xl-6 col-sm-6 col-6 h6 font-weight-light">{{y.UID}}</div>
                              </div>
                              <div class="pb-2 col-12 form-inline">
                                <div class="col-xl-6 col-sm-6 col-6 h5">Area</div>
                                <div class="col-xl-6 col-sm-6 col-6 h5">City</div>
                          
                                <div class="col-xl-6 col-sm-6 col-6 h6 font-weight-light">{{y.City}}</div>
                                <div class="col-xl-6 col-sm-6 col-6 h6 font-weight-light">{{y.City}}</div>
                              </div>
                              <div class="pb-2 col-12 form-inline">
                                <div class="col-xl-6 col-sm-6 col-6 h5">Car umber</div>
                                <div class="col-xl-6 col-sm-6 col-6 h5">Car Model</div>
                                <div class="col-xl-6 col-sm-6 col-6 h6 font-weight-light">{{y.vehicleNumber}}</div>
                                <div class="col-xl-6 col-sm-6 col-6 h6 font-weight-light">{{y.VehicleModel}}</div>
                              </div>
                      </div>
                      {%endfor%}
                    </div>
                 
                  </div>
                  </div>
          
            <!-- Accident Information  -->
                  <div class="col-xl-6 col-sm-12 col-12 p-0">
                    <div class="card bg-transparent border-0 mb-3 shadow-lg">
                    <div class="card-footer bg-danger col-12 rounded-top form-inline pt-3 px-0 bg-danger">
                      <div class="col-xl-12 col-sm-12 col-12 pl-4 text-white h5 text-left">
                        <i class="fa fa-ambulance pr-2" aria-hidden="true"></i>Accident Details
                      </div>
                    </div>
                    
           
                    <div class="card-body border rounded-bottom p-3 form-inline text-dark">
                      <div class="text-left py-3">
                              <div class="pb-2 col-12 form-inline">
                                <div class="col-xl-6 col-sm-6 col-6 h5">Accident Time</div>
                                <div class="col-xl-6 col-sm-6 col-6 h5">Reply Time</div>
                                <div class="col-xl-6 col-sm-6 col-6 h6 font-weight-light">{{x.AccidentTime}}</div>
                                <div class="col-xl-6 col-sm-6 col-6 h6 font-weight-light">{{x.ReplyTime}}</div>

                              </div>
                              <div class="pb-2 col-12 form-inline">
                                <div class="col-xl-6 col-sm-6 col-6 h5">Area</div>
                                <div class="col-xl-6 col-sm-6 col-6 h5">City</div>
                                <div class="col-xl-6 col-sm-6 col-6 h6 font-weight-light">{{x.Area}}</div>
                                <div class="col-xl-6 col-sm-6 col-6 h6 font-weight-light">{{x.City}}</div>
                              </div>
                              <div class="pb-2 col-12 form-inline pb-4">
                                <div class="col-xl-6 col-sm-6 col-6 h5">Latitude</div>
                                <div class="col-xl-6 col-sm-6 col-6 h5 pr-0">Longitude</div>
                                <div class="col-xl-6 col-sm-6 col-6 h6 font-weight-light">{{x.Latitude}}</div>
                                <div class="col-xl-6 col-sm-6 col-6 h6 font-weight-light">{{x.Longitude}}</div>
                              </div>
                              
                                <div class="form-inline pb-5" style="padding-left: 200px;">
                                  <div class="col-xl-12 col-sm-12 col-12 h5">Location Root</div>
                                  <div class="col-xl-12 col-sm-12 col-12 h6 font-weight-light"><a href="https://www.google.com/maps/search/?api=1&query={{x.Latitude}},{{x.Longitude}}" target="_blank" class="text-danger">Open Location Root</a></div>
                                </div>
                             
                              
            {% endfor %}                                     
                      </div>
            
                    </div>
                    </div>
                </div>
      </main>  
{% endblock %}